@import "~bpk-mixins";
@import "../../assets/sass/base/all";

.resultsList {
  font-family:$bodyfontfamily;
  background:$clrOffWhite;
  padding:em(12) em(12) 1px;

  &__pagination {
    padding:em(20) 0 em(30);
  }
}

@supports (display:grid) {
  .resultsList {
    &__items {
      display:grid;
      grid-template-columns:repeat(auto-fill, minmax(280px, 1fr) ) ;
      grid-gap:em(12);
    }
  }
}
