@import "~bpk-mixins";
@import "../../assets/sass/base/all";

.resHeader {
  font-family:$bodyfontfamily;
  background:$bpk-color-blue-500;
  color:$clrWhite;
  padding:em(13) em(10) em(13);

  &__journey {
    font-size:em(42);
    line-height:1;
    font-weight:$normal;
    margin: 0;
    @include flexBase;
    align-items:center;

    &--loading {
      font-size:em(28);
      justify-content:space-between;
    }
  }

  &__place {
    text-decoration: none !important;
  }

  &__connector {
    line-height: 0;
    margin:0 em(8,42);
  }

  &__spinner {
    @include bpk-spinner(spinner-white);
    @include bpk-spinner--lg();
  }

  &__details {
    font-size:em(16);
    font-weight:$normal;
    margin: 0 em(2,16);

    &--loading {
      text-align: center;
    }
  }

  &__class {
    text-transform: lowercase;
  }
}
