@import "~bpk-mixins";
@import "../../assets/sass/base/all";

.searchStatus {
  font-family:$bodyfontfamily;
  @include bpk-card;
  @include bpk-card--padded;
  cursor: default;


  &--loading {
    background:$bpk-color-green-400;
  }

  &--noResults {
    background:$bpk-color-blue-400;
  }

  &--error {
    background:$bpk-color-red-400;
  }

  &__message {
    font-size:em(16);
    font-weight:$normal;
    margin: 0;
    text-align: center;
    color:$bpk-color-white;
  }
}
