@import "~bpk-mixins";
@import "../../assets/sass/base/all";

.searchResults {
  @include flexBase;
  flex-direction:column;

  &__header {
    order:1;
  }

  &__toolbar {
    order:2;
  }

  &__resultsList {
    order:3;
  }
}

@supports (display:grid) {
  .searchResults {
    display:grid;
    grid-template-columns: repeat(4, 1fr);

    grid-template-areas:
    "hd hd hd hd"
    "tb tb tb tb"
    "rs rs rs rs";

    &__header {
      grid-area:hd;
    }

    &__toolbar {
      grid-area:tb;
    }

    &__resultsList {
      grid-area:rs;
    }
  }


  /* !== Breakpoint */
  @include mq(plusOne($bpLeia), $limit: min) {
    .searchResults {
      grid-template-columns: repeat(3, 1fr) em(200) ;
      grid-template-areas:
      "hd hd hd hd"
      "rs rs rs tb"
      "rs rs rs tb";
    }
  }
}
