@import "~bpk-mixins";
@import "../../assets/sass/base/all";




/* !== Leg */
.leg {
  font-family:$bodyfontfamily;
  @include flexBase;
  margin:0 0 em(17);


  &__carrier {
    margin: 0;
  }

  &__logo {
    width: 24px;
    height: 24px;
    border-radius:3px;
  }

  /* !== Location */
  &__location {
    padding:0 em(18);

    &:first-of-type {
      padding-left:em(12);
    }
  }

  &__locTime,
  &__locName {
    line-height: 1.1;
  }

  &__locTime {
    color:$bpk-color-gray-900;
  }

  &__locName {
    color:$bpk-color-gray-500;

    &[title] {
      text-decoration: none;
    }
  }

  &__connector {
    align-self:center;
  }

  /* !== Durations */
  &__duration {
    flex:1 0 auto;
    text-align: right;
    align-self:center;
  }

  &__time,
  &__stops {
    font-size:em(12);
    line-height: 1.1;
  }

  &__time {
    color:$bpk-color-gray-500;
    margin:0 0 em(8,12);
  }

  &__stops {
    color:$bpk-color-green-500;
  }
}
